.search {
  &__header {
    width: 100%;
    background-color: #0097fd;
    padding: 0.5rem 0 0.5rem 2rem;

    color: white;

    display: flex;
    align-items: center;
    column-gap: 1rem;

    & h1 {
      white-space: nowrap;
      font-weight: 400;
      text-shadow: 0px 0px 1px #031929;
    }

    // icons in the header
    &__icon {
      width: 2rem;
      height: 2rem;
      filter: drop-shadow(0px 0px 1px #031929);
    }

    &__right {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      column-gap: 1.5rem;
      padding-right: 1rem;
    }
  }
}
