.option {
  &__mention {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;

    & input {
      width: 100%;
      cursor: pointer;
    }
    & input[type="range"]::-webkit-slider-runnable-track {
      height: 40px;
    }
  }
}

.mention-value {
  flex-shrink: 0;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
