.option {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: $main-dark-color;

  border: 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid $light-blue;
  padding: 0 0.5rem 1rem 0.5rem;

  &:last-of-type {
    border: 0;
  }

  & + .oneline {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-column-gap: 1rem;
  }

  .choice {
    border: 2px solid $choice-border-color;
    background-color: $choice-background-color;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .radio-option,
  .check-option {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & > input {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
  }
  .medal {
    flex-direction: column;

    & + .bronze {
      color: rgb(255, 145, 0);
    }

    & + .silver {
      color: rgb(192, 192, 192);
    }

    & + .gold {
      color: rgb(216, 183, 0);
    }

    & + .checked {
      color: $main-light-color;
    }
  }

  .checked {
    background-color: $main-yellow-color;
    border: 2px solid rgb(255, 145, 0);
    color: $main-dark-color;
  }

  // option title header
  &__header {
    flex-shrink: 0;
    cursor: default;

    // icon
    &__icon {
      width: 2rem;
      height: 2rem;
    }

    // typography
    &__title {
      font-size: 1.75rem;
      text-transform: uppercase;
      // text-shadow: 2px 2px 0px #000000;
      // padding-left: 0.75rem;
      display: flex;
      align-items: center;
      grid-column-gap: 0.5rem;
      color: $main-dark-color;
      @media screen and (max-width: 600px) {
        font-size: 1rem;
      }
    }
  }

  // responsive
  @media only screen and (max-width: 1440px) {
    // margin-bottom: 1rem;
  }

  //mobile
  @media only screen and (max-width: 600px) {
    margin-bottom: 0.5rem;
    border-bottom: 0;
    padding: 0 0.5rem 0.5rem 0.5rem;

    & + .oneline {
      // align-items: start;
      // flex-direction: column;
    }
  }
}
