$base-color: #000000;

.search {
  position: fixed;
  width: 550px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  transition: all;
  transition-duration: 0.5s;

  & form {
    padding: 1rem 3rem;
    background-color: $form-background-color;
    width: 100%;
    // width: 550px;
    height: 100%;

    & .submit {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & input[type="button"] {
      background-color: $main-yellow-color;
      border: 2px solid #c59f22;
      border-radius: 0.5rem;
      font-size: 1.75rem;
      padding: 0.5rem 2rem;
      color: $main-dark-color;
      cursor: pointer;

      &:hover,
      &:active {
        background-color: $main-light-color;
        border-color: $fieldset-title-color;
        color: $fieldset-title-color;
      }
    }

    //responsive queries
    @media only screen and (max-width: 600px) {
      & {
        width: 100%;
        padding: 1rem 0.25rem;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    // position: relative;
    width: 100%;
    overflow-y: scroll;
  }
}

.hidden {
  transform: translateX(-100%);
}

.bottomlinks {
  width: 100%;
  background-color: $form-background-color;
  text-align: right;
  padding: 0 2rem 1rem 3rem;
  color: rgb(141, 141, 141);
  align-items: center;
  justify-content: flex-end;
  display: flex;
  column-gap: 1rem;

  & a {
    color: $main-light-color;
    &:hover,
    &:active {
      color: $main-dark-color;
    }
  }

  &__logout {
    color: inherit;
    &:hover,
    &:active {
      color: $main-dark-color;
    }
  }

  & div {
    display: flex;
    align-items: center;
    cursor: pointer;

    & > svg {
      width: 1.25rem;
    }
  }
}
