html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: $light-blue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
}

// leaflet css styles
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid $main-light-color !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: $main-dark-color !important;
  color: $light-blue !important;

  &:hover,
  &:active {
    color: $main-light-color !important;
  }
}

// leaflet popup styles
.leaflet-popup-content {
  & p {
    margin: 0 !important;
  }

  .studentinfo {
    &__name {
      color: $main-light-color;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}
