$main-light-color: #0097fd;
$main-dark-color: #031929;
$main-yellow-color: #ffcc28;

// $light-blue: #e6f5ff;
$light-blue: #e6f5ff;

// form variables
$fieldset-title-color: $main-dark-color;
$form-background-color: #ffffff;

$choice-border-color: #cfcfcf;
$choice-background-color: #f6f6f6;
